<h1>{{title}}</h1>
<div class="form-group">
    <form action="/make_playlist" method="post">
        <div class="input-group input-group-lg">
            <textarea class="form-control" placeholder="festival lineup" aria-describedby="sizing-addon1" name="bands" value="LP, metric"></textarea>
        </div>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="delimiter" aria-describedby="sizing-addon1" name="delimiter" value=",">
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">
                Create
            </button>
        </div>
    </form>
</div>
{{#each data}}
<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="{{thumbnail}}" alt="{{title}}">
    <div class="card-block">
        <h4 class="card-title">{{title}}</h4>
        <p class="card-text">{{description}}</p>
        <p class="card-text">{{query}}</p>
        <a href="{{videoUrl}}" class="btn btn-primary" target="_blank">Play</a>
    </div>
</div>
{{/each}}
