<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>{{data}}</p>
<div class="form-group">
    <form action="/make_playlist" method="post">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="festival lineup" aria-describedby="sizing-addon1">
        </div>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="delimiter" aria-describedby="sizing-addon1">
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">
                Create
            </button>
        </div>
    </form>
</div>
<h1> html </h1> {{{html}}}
<ul>
    {{#each data}}
    <li>Key: {{@index}} Value =
        <ul>{{#each this}}
            <li>subKey: {{@key}} </li>
            <li> subValue = {{this}}</li>
            {{/each}}
        </ul>
    </li>
    {{/each}}
</ul>
